* {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 50px;
    background-color: black;
}

#container {
    padding: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border: outset 5px black;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #3E4587DB;
}

#container > div {
    display: flex;
    flex: 1;
    
}

#container > div > div {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    border: solid 1px black;
    padding-top: 35px;
}

.number {
    background-color: #F3F2FFFF;
}

.operator, #calculate {
    background-color: #478EFFFF;
    color: whitesmoke;
}

#clear {
    background-color: #FF5733;
    color: white;
}

#output {
    background-color: white;
}